<%- include('header.ejs') %>
<main>
    <section class="sec1">
        <div class="swiper mySwiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="web_slide" src="./img/광고1.jpg" alt="slide1">
                    <img class="m_slide" src="./img/광고1_m.jpg" alt="mobile_slide1">
                </div>
                <div class="swiper-slide">
                    <img class="web_slide" src="./img/광고2.png" alt="slide2">
                    <img class="m_slide" src="./img/광고2_m.png" alt="mobile_slide2">
                </div>
                <div class="swiper-slide">
                    <img class="web_slide" src="./img/광고3.jpg" alt="slide3">
                    <img class="m_slide" src="./img/광고3_m.jpg" alt="mobile_slide3">
                </div>
                <div class="swiper-slide">
                    <img class="web_slide" src="./img/광고4.png" alt="slide4">
                    <img class="m_slide" src="./img/광고4_m.png" alt="mobile_slide4">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="btn1 flex">
                <div class="swiper-button-prev1">
                    <img src="./img/icon/btn_sw1_prev.png" alt="btn_prev">
                </div>
                <div class="swiper-button-next1">
                    <img src="./img/icon/btn_sw1_next.png" alt="btn_next">
                </div>
            </div>
        </div>
    </section>
    <section class="sec2">
        <div class="banner flex w1440 re_w100">
            <div><a href=""><img src="./img/배너1.png" alt="banner1"></a></div>
            <div><a href=""><img src="./img/배너2.png" alt="banner2"></a></div>
            <div><a href=""><img src="./img/배너3.png" alt="banner3"></a></div>
        </div>
    </section>
    <section class="sec3 re_w100">
        <h2 class="flex">GCOVA’s MENU !</h2>
            <div class="swiper mySwiper2 w1440 re_w100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide menu">
                        <span class="flex">
                            <img src="./img/허니콘.jpg" alt="허니콘">
                        </span>
                        <h4>허니콘</h4>
                        <p class="order"><a href="">주문하기</a></p>
                    </div>
                    <div class="swiper-slide menu">
                        <span class="flex">
                            <img src="./img/어포깡.jpg" alt="어포깡">
                        </span>
                        <h4>어포깡</h4>
                        <p class="order"><a href="">주문하기</a></p>
                    </div>
                    <div class="swiper-slide menu">
                        <span class="flex">
                            <img src="./img/치즈볼.jpg" alt="치즈볼">
                        </span>
                        <h4>치즈볼</h4>
                        <p class="order"><a href="">주문하기</a></p>
                    </div>
                    <div class="swiper-slide menu">
                        <span class="flex">
                            <img src="./img/떡볶이.jpg" alt="떡볶이">
                        </span>
                        <h4>매콤 떡볶이</h4>
                        <p class="order"><a href="">주문하기</a></p>
                    </div>
                    <div class="swiper-slide menu">
                        <span class="flex">
                            <img src="./img/후라이드.jpg" alt="후라이드">
                        </span>
                        <h4>후라이드 치킨</h4>
                        <p class="order"><a href="">주문하기</a></p>
                    </div>
                    <div class="swiper-slide menu">
                        <span class="flex">
                            <img src="./img/양념.jpg" alt="양념치킨">
                        </span>
                        <h4>양념치킨</h4>
                        <p class="order"><a href="">주문하기</a></p>
                    </div>
                </div>
                <div class="btn2 flex re_w100">
                    <div class="swiper-button-prev2 btn2_style">
                        <img src="./img/icon/ico_arrow_1.8412ade.png" alt="btn_prev">
                    </div>
                    <div class="swiper-button-next2 btn2_style">
                        <img src="./img/icon/ico_arrow_2.8772ae2.png" alt="btn_next">
                    </div>
                </div>
            </div>
    </section>
    <section class="sec4 w1440 re_w100">
        <div class="store_tit">
            <h2 class="main_tit">창업안내</h2>
            <p>지코바 치킨은 여러분의 최고의 파트너가 될 것 입니다</p>
        </div>
        <div class="store flex">
            <dl>
                <a href="">
                    <dt>
                        <img src="./img/icon/img_item_2.svg" alt="창업절차">
                    </dt>
                    <dd>창업절차</dd>
                </a>
            </dl>
            <dl>
                <a href="">
                    <dt>
                        <img src="./img/icon/img_item_3.svg" alt="창업비용">
                    </dt>
                    <dd>창업비용</dd>
                </a>
            </dl>
            <dl>
                <a href="">
                    <dt>
                        <img src="./img/icon/img_item_4.svg" alt="상담창구">
                    </dt>
                    <dd>상담창구</dd>
                </a>
            </dl>
        </div>
        <div class="store_m w100 flex">
            <div>
            <h4>대한민국 대표 치킨 브랜드</h4>
            <h3>지코바</h3>
            <div class="store_m_btm flex">
                <div>창업절차</div>
                <div>상담창구</div>
            </div>
            </div>
        </div>
    </section>
    <section class="sec5 w1440 re_w100">
        <div class="y_group flex">
            <h2 class="main_tit">지코바 YOUTUBE</h2>
            <div class="y_btn flex">
                <div class="swiper-button-prev3">
                    <img src="./img/icon/you_prev.svg" alt="btn_prev">
                </div>
                <div class="swiper-button-next3">
                    <img src="./img/icon/you_next.svg" alt="btn_next">
                </div>
            </div>
        </div>
        <div class="swiper mySwiper3">
            <div class="swiper-wrapper re_w100">
                <div class="swiper-slide">
                    <iframe width="445" height="240"
                        src="https://www.youtube.com/embed/LXC7d8clQGI?si=iIZD5hADBE1YxNrG"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="swiper-slide">
                    <iframe width="445" height="240"
                        src="https://www.youtube.com/embed/6l-lFXtWJMA?si=6ZDaNuTyz7lx_6sO"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="swiper-slide">
                    <iframe width="445" height="240"
                        src="https://www.youtube.com/embed/cNQz2MiU-L8?si=uscXlMtupkXx95df"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="swiper-slide">
                    <iframe width="445" height="240"
                        src="https://www.youtube.com/embed/3hsNtE32Ruw?si=p8nUjXopLKCHpNpf"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="swiper-slide">
                    <iframe width="445" height="240"
                        src="https://www.youtube.com/embed/Q8V1Fvg-gbI?si=OL67SKcbDq4Hrg0f"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    <div class="top_icon"><a href=""><img src="./img/icon/btn_top.png" alt="탑버튼"></a></div>
</main>
<%- include('footer.ejs') %>