<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>GCOVA</title>
	<link rel="icon" href="./img/icon/icons8-chicken-64.png" type="imge/x-icon">
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="./css/sub_style.css">
	<link rel="stylesheet" href="./css/notice_style.css">
	<link rel="stylesheet" href="./css/newitem_style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
	<header class="w100">
			<div class="top_wrap w100">
				<div class="mob_wrap w100 flex">
					<div class="mob flex w100">
						<div class="ham">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<div class="mob_menu w100">
							<ul class="mob_top flex">
								<li><a href="#">로그인</a></li>
								<li><a href="#">고객센터</a></li>
							</ul>
							<ul class="ham_tit">
								<li><a href="#">메뉴<span></span></a>
									<ul class="ham_dep">
										<li><a href="/newitemlist?page=1">신메뉴</a></li>
										<li><a href="">치킨</a></li>
										<li><a href="">사이드</a></li>
									</ul>
								</li>
								<li><a href="#">매장안내<span></span></a>
									<ul class="ham_dep">
										<li><a href="">매장찾기</a></li>
										<li><a href="">신규개설점</a></li>
									</ul>
								</li>
								<li><a href="#">이벤트<span></span></a>
									<ul class="ham_dep">
										<li><a href="">이벤트</a></li>
										<li><a href="/notiList?page=1">공지사항</a></li>
									</ul>
								</li>
								<li><a href="#">주문<span></span></a>
									<ul class="ham_dep">
										<li><a href="">배달주문</a></li>
										<li><a href="">포장주문</a></li>
									</ul>
								</li>
								<li><a href="#">창업안내<span></span></a>
									<ul class="ham_dep">
										<li><a href="">창업절차</a></li>
										<li><a href="">창업비용</a></li>
										<li><a href="">상담창구</a></li>
									</ul>
								</li>
								<li><a href="#">지코바스토리<span></span></a>
									<ul class="ham_dep">
										<li><a href="/sub1_1">인사말</a></li>
										<li><a href="/sub1_2">회사연혁</a></li>
										<li><a href="/sub1_3">로고&캐릭터</a></li>
										<li><a href="/sub1_4">찾아오시는길</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="top w1440 flex re_w100">
					<h1 class="logo"><a href="/"><img src="./img/지코바로고1.png" alt="logo"></a></h1>
					<ul class="info flex">
						<li><a href="">로그인</a></li>
						<li><a href="">고객센터</a></li>
						<li><a href="">ENGLISH</a></li>
					</ul>
				</div>
				<nav class="w100">
					<ul class="nav_list flex w1440 re_w100">
						<li>
							<a href="">메뉴 </a>
							<div class="dep_wrap">
								<ul class="dep">
									<li><a href="/newitemlist?page=1">신메뉴</a></li>
									<li><a href="">치킨</a></li>
									<li><a href="">사이드</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="">매장안내</a>
							<div class="dep_wrap">
							<ul class="dep">
								<li><a href="">매장찾기</a></li>
								<li><a href="">신규개설점</a></li>
							</ul>
							</div>
						</li>
						<li>
							<a href="">이벤트</a>
							<div class="dep_wrap">
								<ul class="dep">
									<li><a href="">이벤트</a></li>
									<li><a href="/notiList?page=1">공지사항</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="">주문</a>
							<div class="dep_wrap">
								<ul class="dep">
									<li><a href="">배달주문</a></li>
									<li><a href="">포장주문</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="">창업안내</a>
							<div class="dep_wrap">
								<ul class="dep">
									<li><a href="">창업절차</a></li>
									<li><a href="">창업비용</a></li>
									<li><a href="">상담창구</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="/sub1_1">지코바스토리</a>
							<div class="dep_wrap">
								<ul class="dep">
									<li><a href="/sub1_1">인사말</a></li>
									<li><a href="/sub1_2">회사연혁</a></li>
									<li><a href="/sub1_3">로고&캐릭터</a></li>
									<li><a href="/sub1_4">찾아오시는길</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
	</header>
