<%- include('header.ejs') %>
<main>
    <div class="sub_banner w100 flex re_w100">
        <p>The First Brand</p>
        <p>처음을 열고 최초를 만들다</p>
    </div>
    <ul class="tap w100 flex re_w100">
        <li><a href="/sub1_1">인사말</a></li>
        <li><a href="/sub1_2">회사연혁</a></li>
        <li class="tap1"><a href="/sub1_3">로고&캐릭터</a></li>
        <li><a href="/sub1_4">찾아오시는길</a></li>
    </ul>
<section class="content w1440 re_w100" id="3">
    <div class="ci">
        <h2 class="main_tit">로고</h2>
        <div class="ci_logo flex"><img src="./img/지코바로고.png" alt="로고설명"></div>
        <h3>지코바 Color</h3>
        <div class="color_wrap flex re_w100">
            <ul class="color">
                <li>MAIN</li>
                <li></li>
                <li>C0 M59 Y87 K5</li>
                <li>R242 G99 B31</li>
                <li>#F2631F</li>
            </ul>
            <ul class="color">
                <li>SUB 01</li>
                <li></li>
                <li>C0 M0 Y0 K0</li>
                <li>R255 G255 B255</li>
                <li>#FFFFFF</li>
            </ul>
            <ul class="color">
                <li>SUB 02</li>
                <li></li>
                <li>C0 M0 Y0 K1</li>
                <li>R0 G0 B0</li>
                <li>#000000</li>
            </ul>
        </div>
    </div>
    <div class="character">
        <h2 class="main_tit">캐릭터</h2>
        <p>지코바만의 유니크한 캐릭터로 개성과 친근함을 부여</p>
        <div class="char flex">
            <dl>
                <dt><img src="./img/캐릭터.png" alt="캐릭터"></dt>
                <dd>마스코트 : 지코</dd>
            </dl>
    </div>
</section>
<div class="pop_icon">
    <a href=""><img src="./img/icon/주문하기.png" alt=""></a>
    <a href=""><img src="./img/icon/창업문의.png" alt=""></a>
</div>
<div class="top_icon"><a href=""><img src="./img/icon/btn_top.png" alt="탑버튼"></a></div>
</main>
<%- include('footer.ejs') %>