<%- include('header.ejs') %>
<main>
    <div class="sub_banner w100 flex re_w100">
        <p>The First Brand</p>
        <p>처음을 열고 최초를 만들다</p>
    </div>
    <ul class="tap w100 flex re_w100">
        <li><a href="/sub1_1">인사말</a></li>
        <li><a href="/sub1_2">회사연혁</a></li>
        <li><a href="/sub1_3">로고&캐릭터</a></li>
        <li class="tap1"><a href="/sub1_4">찾아오시는길</a></li>
    </ul>
<section class="content con4 w1440 re_w100" id="4">
    <h2 class="main_tit">찾아오시는길</h2>
    <div class="map_wrap">
        <div>
        <p class="map_tit">지코바 가맹본부</p>
        <div id="daumRoughmapContainer1713101316092" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <p class="map_tit2">경상남도 양산시 어곡공단 3길 32 어곡산업단지 / TEL. 055-363-9300 / FAX. 055-363-9320</p>
        </div>
        <div>
            <p class="map_tit">지코바 대구지사</p>
            <div id="daumRoughmapContainer1713103231633" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            <p class="map_tit2">경상북도 경산시 남천면 경청로 958-6 / TEL. 053-811-9919</p>
            </div>
        <div>
        <p class="map_tit">지코바 대전지사</p>
        <div id="daumRoughmapContainer1713102766734" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <p class="map_tit2">대전광역시 동구 산내로560번길 10 / TEL. 042-285-3669</p>
        </div>
        <div>
        <p class="map_tit">지코바 경북북부지사</p>
        <div id="daumRoughmapContainer1713102849811" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        <p class="map_tit2">경북 안동시 매화길 81-8(이천동) / TEL. 054-841-9981</p>
        </div>
        <div>
            <p class="map_tit">지코바 제주지사</p>
            <div id="daumRoughmapContainer1713102966393" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            <p class="map_tit2">제주시 우평로 88 / TEL. 064-702-9289</p>
            </div>
    </div>
</section>
<div class="pop_icon">
    <a href=""><img src="./img/icon/주문하기.png" alt=""></a>
    <a href=""><img src="./img/icon/창업문의.png" alt=""></a>
</div>
<div class="top_icon"><a href=""><img src="./img/icon/btn_top.png" alt="탑버튼"></a></div>
</main>
<%- include('footer.ejs') %>