<%- include('header.ejs') %>
<main>
    <div class="sub_banner w100 flex re_w100">
        <p>The First Brand</p>
        <p>처음을 열고 최초를 만들다</p>
    </div>
    <ul class="tap w100 flex re_w100">
        <li><a href="/sub1_1">인사말</a></li>
        <li><a href="/sub1_2">회사연혁</a></li>
        <li><a href="/sub1_3">로고&캐릭터</a></li>
        <li><a href="/sub1_4">찾아오시는길</a></li>
    </ul>
    <section class="content re_w100" id="1">
        <div class="w1440 re_w100">
            <div class="sub_banner2 flex">
                <p><span>정직한 맛</span>으로 전 국민이 사랑하는 <span>지코바</span>가 되겠습니다</p>
            </div>
            <div class="hello">
                <p>
                    저희 지코바양념치킨은 창업 이래 20여 년간 양념치킨사업 외길을 달려왔습니다.<br/>
                    특히 한국인들의 입맛에 맞는 양념을 개발하기 위해 신선하고 엄선된 재료만을 고집하고 있습니다.<br/><br/>
                
                    최근 수많은 치킨 브랜드들이 탄생과 소멸을 반복하면서 치킨업계는 무한경쟁시대를 맞고 있습니다.<br/>
                    유구하고 찬란한 문화유산을 가진 우리나라도 급변하는 세계정세에 따라 국민들의 식생활도 빠르게 변화하고 있습니다.<br/>
                    저희 지코바는 가장 한국적이면서도 소비자들의 식생활 트렌드와 입맛에 맞는 양념치킨 개발에 모든 역량을 쏟아 붇겠습니다.<br/><br/>
                
                    지난 20여 년간 저희 지코바는 고객여러분들의 성원에 힘입어 양적·질적으로 괄목할만한 성장을 이루었습니다.<br/>
                    여기에 자만하지 않고 더욱 신선하고 안전한 먹거리 개발에 앞장서 고객여러분의 성원에 보답하겠습니다.<br/><br/>
                
                    고객 여러분! 올 한해도 저희 지코바와 함께 힘을 내시고 힘차게 전진합시다!<br/>
                    감사합니다.<br/>
                
                </p>
                <p>지코바 임직원 일동</p>
            </div>
        </div>
        <div class="employee w100"></div>
    </section>
    <section class="content con2 w100 re_w100" id="2">
        <h2 class="main_tit">회사연혁</h2>
        <div class="history_wrap w1440 re_w100">
            <dl class="history flex">
                <dt>1994</dt>
                <dd><span>01</span>부산광역시 만덕동 지코바 1호점(본점) 개설</dd>
            </dl>
            <dl class="history flex">
                <dt>1998</dt>
                <dd><span>02</span>포항지사 설립</dd>
            </dl>
            <dl class="history flex">
                <dt>2000</dt>
                <dd><span>03</span>50호점 개설<br/>
                    <span>04</span>대구지사 설립
                </dd>
            </dl>
            <dl class="history flex">
                <dt>2000</dt>
                <dd><span>05</span>100호점 개설<br/>
                    <span>06</span>경북북부지사 설립<br/>
                    <span>07</span>대전지사 개설<br/>
                    <span>08</span>(주)지코바 법인설립
                </dd>
            </dl>
            <dl class="history flex">
                <dt>2001</dt>
                <dd><span>09</span>200호점 개설</dd>
            </dl>
            <dl class="history flex">
                <dt>2002</dt>
                <dd><span>10</span>300호점 개설</dd>
            </dl>
            <dl class="history flex">
                <dt>2003</dt>
                <dd><span>11</span>사옥 건립(양산시 소재)<br/>
                    <span>12</span>치킨소스 생산전용 설비 및 자동 포장라인 설치
                </dd>
            </dl>
            <dl class="history flex">
                <dt>2005</dt>
                <dd><span>01</span>개인사업자로 전환</dd>
            </dl>
            <dl class="history flex">
                <dt>2006</dt>
                <dd><span>02</span>중부권 물류센터 개설</dd>
            </dl>
            <dl class="history flex">
                <dt>2007</dt>
                <dd><span>03</span>390호점 개설</dd>
            </dl>
            <dl class="history flex">
                <dt>2014</dt>
                <dd><span>04</span>제주지사 설립</dd>
            </dl>
            <dl class="history flex">
                <dt>2016</dt>
                <dd><span>05</span>400호점 개설<br/>
                    <span>06</span>포항지사 폐점(본사 이관)
                </dd>
            </dl>
            <dl class="history flex">
                <dt>2017</dt>
                <dd><span>07</span>(주)지코바 법인설립<br/>
                    <span>08</span>호남권 물류센터 개설
                </dd>
            </dl>
            <dl class="history flex">
                <dt>2019</dt>
                <dd><span>09</span>500호점 개설</dd>
            </dl>
            <dl class="history flex">
                <dt>2020</dt>
                <dd><span>10</span>600호점 개설</dd>
            </dl>
            <dl class="history flex">
                <dt>2021</dt>
                <dd><span>11</span>700호점 개설</dd>
            </dl>
        </div>
    </section>
    <section class="content w1440 re_w100" id="3">
        <div class="ci">
            <h2 class="main_tit">로고</h2>
            <div class="ci_logo flex"><img src="./img/지코바로고.png" alt="로고설명"></div>
            <h3>지코바 Color</h3>
            <div class="color_wrap flex re_w100">
                <ul class="color">
                    <li>MAIN</li>
                    <li></li>
                    <li>C0 M59 Y87 K5</li>
                    <li>R242 G99 B31</li>
                    <li>#F2631F</li>
                </ul>
                <ul class="color">
                    <li>SUB 01</li>
                    <li></li>
                    <li>C0 M0 Y0 K0</li>
                    <li>R255 G255 B255</li>
                    <li>#FFFFFF</li>
                </ul>
                <ul class="color">
                    <li>SUB 02</li>
                    <li></li>
                    <li>C0 M0 Y0 K1</li>
                    <li>R0 G0 B0</li>
                    <li>#000000</li>
                </ul>
            </div>
        </div>
        <div class="character">
            <h2 class="main_tit">캐릭터</h2>
            <p>지코바만의 유니크한 캐릭터로 개성과 친근함을 부여</p>
            <div class="char flex">
                <dl>
                    <dt><img src="./img/캐릭터.png" alt="캐릭터"></dt>
                    <dd>마스코트 : 지코</dd>
                </dl>
        </div>
    </section>
    <section class="content con4 w1440 re_w100" id="4">
        <h2 class="main_tit">찾아오시는길</h2>
        <div class="map_wrap">
            <div>
            <p class="map_tit">지코바 가맹본부</p>
            <div id="daumRoughmapContainer1713101316092" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            <p class="map_tit2">경상남도 양산시 어곡공단 3길 32 어곡산업단지 / TEL. 055-363-9300 / FAX. 055-363-9320</p>
            </div>
            <div>
                <p class="map_tit">지코바 대구지사</p>
                <div id="daumRoughmapContainer1713103231633" class="root_daum_roughmap root_daum_roughmap_landing"></div>
                <p class="map_tit2">경상북도 경산시 남천면 경청로 958-6 / TEL. 053-811-9919</p>
                </div>
            <div>
            <p class="map_tit">지코바 대전지사</p>
            <div id="daumRoughmapContainer1713102766734" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            <p class="map_tit2">대전광역시 동구 산내로560번길 10 / TEL. 042-285-3669</p>
            </div>
            <div>
            <p class="map_tit">지코바 경북북부지사</p>
            <div id="daumRoughmapContainer1713102849811" class="root_daum_roughmap root_daum_roughmap_landing"></div>
            <p class="map_tit2">경북 안동시 매화길 81-8(이천동) / TEL. 054-841-9981</p>
            </div>
            <div>
                <p class="map_tit">지코바 제주지사</p>
                <div id="daumRoughmapContainer1713102966393" class="root_daum_roughmap root_daum_roughmap_landing"></div>
                <p class="map_tit2">제주시 우평로 88 / TEL. 064-702-9289</p>
                </div>
        </div>
    </section>
</main>
<%- include('footer.ejs') %>