<%- include('header.ejs') %>
<main>
    <div class="sub_banner w100 flex re_w100">
        <p>The First Brand</p>
        <p>처음을 열고 최초를 만들다</p>
    </div>
    <ul class="tap w100 flex re_w100">
        <li><a href="/sub1_1">인사말</a></li>
        <li class="tap1"><a href="/sub1_2">회사연혁</a></li>
        <li><a href="/sub1_3">로고&캐릭터</a></li>
        <li><a href="/sub1_4">찾아오시는길</a></li>
    </ul>
<section class="content con2 w100 re_w100">
    <h2 class="main_tit">회사연혁</h2>
    <div class="history_wrap w1440 re_w100">
        <dl class="history flex">
            <dt>1994</dt>
            <dd><span>01</span>부산광역시 만덕동 지코바 1호점(본점) 개설</dd>
        </dl>
        <dl class="history flex">
            <dt>1998</dt>
            <dd><span>02</span>포항지사 설립</dd>
        </dl>
        <dl class="history flex">
            <dt>2000</dt>
            <dd><span>03</span>50호점 개설<br/>
                <span>04</span>대구지사 설립
            </dd>
        </dl>
        <dl class="history flex">
            <dt>2000</dt>
            <dd><span>05</span>100호점 개설<br/>
                <span>06</span>경북북부지사 설립<br/>
                <span>07</span>대전지사 개설<br/>
                <span>08</span>(주)지코바 법인설립
            </dd>
        </dl>
        <dl class="history flex">
            <dt>2001</dt>
            <dd><span>09</span>200호점 개설</dd>
        </dl>
        <dl class="history flex">
            <dt>2002</dt>
            <dd><span>10</span>300호점 개설</dd>
        </dl>
        <dl class="history flex">
            <dt>2003</dt>
            <dd><span>11</span>사옥 건립(양산시 소재)<br/>
                <span>12</span>치킨소스 생산전용 설비 및 자동 포장라인 설치
            </dd>
        </dl>
        <dl class="history flex">
            <dt>2005</dt>
            <dd><span>01</span>개인사업자로 전환</dd>
        </dl>
        <dl class="history flex">
            <dt>2006</dt>
            <dd><span>02</span>중부권 물류센터 개설</dd>
        </dl>
        <dl class="history flex">
            <dt>2007</dt>
            <dd><span>03</span>390호점 개설</dd>
        </dl>
        <dl class="history flex">
            <dt>2014</dt>
            <dd><span>04</span>제주지사 설립</dd>
        </dl>
        <dl class="history flex">
            <dt>2016</dt>
            <dd><span>05</span>400호점 개설<br/>
                <span>06</span>포항지사 폐점(본사 이관)
            </dd>
        </dl>
        <dl class="history flex">
            <dt>2017</dt>
            <dd><span>07</span>(주)지코바 법인설립<br/>
                <span>08</span>호남권 물류센터 개설
            </dd>
        </dl>
        <dl class="history flex">
            <dt>2019</dt>
            <dd><span>09</span>500호점 개설</dd>
        </dl>
        <dl class="history flex">
            <dt>2020</dt>
            <dd><span>10</span>600호점 개설</dd>
        </dl>
        <dl class="history flex">
            <dt>2021</dt>
            <dd><span>11</span>700호점 개설</dd>
        </dl>
    </div>
</section>
<div class="pop_icon">
    <a href=""><img src="./img/icon/주문하기.png" alt=""></a>
    <a href=""><img src="./img/icon/창업문의.png" alt=""></a>
</div>
<div class="top_icon"><a href=""><img src="./img/icon/btn_top.png" alt="탑버튼"></a></div>
</main>
<%- include('footer.ejs') %>